html {
  height: 100%;
  width: 100%;
}

body{
  background-image: linear-gradient(to bottom right, #ffffff, #ff9eb8);
  margin: 50px;
}

.domain1{
  margin-top: 75px;
  margin-right: 20px;
}

.content{
  display: flex;
  margin: 0px auto 0px auto;
}